.dialogs {
 display: grid;
 grid-template-columns: 2fr 10fr;
}

.dialogsItems {
	padding: 10px;
}
.dialogsItems a{
	margin: 3px;
	margin-left: 10px;
	display: inline-block;
	text-decoration: none;
	color: #000;
}
.dialogsItems .active {
	color: #e300ff;
}
.dialogsItemsTitle {
	font-family: 'Roboto-Bold';
	margin-bottom: 7px;
}

.messages {
 padding: 10px;
}
.messagesItem div{
	padding: 10px;
	padding-left: 0px;
}
.messagesForm {
	display: flex;
	margin-top: 40px;
}
.messagesFormField {
	width: 200px;
	height: 85px;
	padding: 5px;
	display: flex;
	border: 2px solid #000;
}
.messagesFormButton {
	height: 99px;
	background-color: #12cd0c;
	border: none;
	width: 80px;
	padding: 0;
	border: 2px dotted #000;
	border-left: none;
	cursor: pointer;
	font-size: 20px;
}